@import url(reset.css);
@import url(index.css);
@import url(sub1.css);

/* 1rem=10px */
html{
  font-family: 'Noto Sans KR','Noto Sans JP',sans-serif;font-size: 62.5%;}
a,a:hover,a:visited{color: #000;text-decoration: none;}



/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&display=swap')
/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */