

/* layout */
@media screen and (max-width: 768px) {
  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}
@media screen and (min-width: 1025px) {

  .circle{z-index: 10;position: absolute; top: 0;left: 0;width: 10px;height: 10px;border-radius: 20px; border: 2px solid #21242B; transform: translate(-50%, -50%);}


  #wrap{width: 100%;background: #FAF3EB;}
  #header{z-index: 40;position: fixed;left: 0;top: 0;width: 100vw;background: #FAF3EB;}
    .header_wrap{width: 100%; padding: 0 13.02vw; box-sizing: border-box; display: flex; justify-content: space-between;align-items: center;border-bottom: 1px solid rgba(37, 33, 28, 0.8);box-shadow: 0 2px 3px rgba(37, 33, 28, 0.4); }
  #container{z-index: 20;position: relative;display: flex;flex-wrap: nowrap;flex-direction: column;}
    .content1{z-index: 5;position: relative;padding: 185px 13.02vw 0; background: #fff;box-sizing: border-box;}
    .content2{position: relative;padding: 120px 13.02vw 0;box-sizing: border-box;}
    .content3{position: relative;padding: 120px 13.02vw 0;box-sizing: border-box;}
    .content4{position: relative;padding: 120px 13.02vw 0;box-sizing: border-box;}
    .content5{position: relative;padding: 120px 13.02vw 0;box-sizing: border-box;}
  #footer{z-index: 30;position: fixed;right: 190px;bottom:30px;}
    .footer_button{}

  /* header */
  #header>div:first-of-type{height: 185px; transition: all 0.3s ease-out 0s;}
  #header>div.on{height: 120px;}
  h1{font-size: 4rem;font-weight: bold;}
  .gnb{}
  .gnb>ul{display: flex; flex-wrap: nowrap;}
  .gnb>ul>li{padding-left: 20px; font-size:2.5rem;cursor: pointer;}
  .gnb>ul>li.on{font-weight: bold;}

  /* container */
  /* content1 */
  .content1_wrap{position: relative;}
  .content1_wrapbg{width: 100%;height: 100%;}
  .content1_bg{width: 73.07vw;height:784px;background: url(../images/bg1.jpg);background-position: 50% 70%;background-size:100%;transform-origin: 50% 50%; transition: all 0.2s ease 0s;}
  .scroll{position: absolute;top: 100px;left: 50%;transform: translateX(-50%);font-size: 4rem;color: rgba(255, 255, 255, 0.8);line-height: 2rem;}
  .scroll>span{position: absolute;display: block;width: 55px;height: 55px;left: 50%;transform: translateX(-50%);border: 2px solid rgba(255, 255, 255, 0.8); border-radius: 50%;overflow: hidden;}
  .scroll>span::after{content: "";display: block;position:absolute;width: 10px;height: 10px;background: rgba(255, 255, 255, 0.8);border-radius: 50%;left: calc(50% - 5px); animation: ani1 1.5s ease-in 0s infinite;}
  @keyframes ani1 {
    0%{top: -20px;}
    25%{top: 22.5px;}
    75%{top: 22.5px;}
    100%{top: 85px;}
  }

  /* content2 */
  .content2_wrap{position: relative;}
  .content2_bg{position:absolute;left:30px;top:60px;width: 33.85vw;height: 78.20vh;background-image: url(../images/bg2_1.jpg); background-size: cover; border-radius: 15px; transition: all 0.2s ease 0s;}
  .content2_left{position: absolute; top:5.21vh; left: 18.22vw; font-size: 5rem;color: #fff;font-weight: bold; line-height: 5.5rem;letter-spacing: -1px; text-align: center;-webkit-text-stroke: 2px #21242B}
  .content2_left>b{font-size: 7rem;font-weight: bold;}

  .content2_right{position:absolute;left: 38.54vw;top:20.85vh;font-size: 2.8rem;line-height: 1.5;text-align: justify;}
  .content2_right>strong,.content2_right>b{position:relative;font-weight: bold;cursor: pointer;}
  .content2_right>strong::after,.content2_right>b::after{content: "";display: block;position: absolute;left: 50%;transform: translateX(-50%);bottom:-2px;width: 0;height: 1px; background: #000;transition: all 0.3s ease 0s;}
  .content2_right>strong:hover::after,.content2_right>b:hover::after{width: 100%;left: 0;transform: translateX(0);}

  /* content3 */


  .content3_button{text-align: center;margin: 70px 0;}
  .content3_button>a{display:inline-block;font-size: 2.5rem; padding: 5px 20px;box-sizing: border-box;margin-left: 30px; border: 3px solid #21242B; border-radius: 50px; box-shadow: 1px 1px 2px #21242B;}
  .content3_button>a.on{background: #21242B;color: #fff;box-shadow: 1px 1px 2px #21242B;}



  .content3_wrap{position: relative;display: flex;flex-direction: column;}
  .content3_wrap>ul{display: flex;flex-wrap: wrap; justify-content: space-between; transition: all 0.3s ease 0s;}
  .content3_wrap>ul>li{padding: 5.20vw 0 0;margin: 15px 3.48vw; width: 7.29vw;letter-spacing: -1px;}
  .content3_wrap>ul.skill>li:first-of-type{background: url(../images/logo01.png) no-repeat 50% 0; background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(2){background: url(../images/logo02.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(3){background: url(../images/logo03.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(4){background: url(../images/logo04.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(5){background: url(../images/logo05_1.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(6){background: url(../images/logo06_1.png) no-repeat 50% 25%;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(7){background: url(../images/logo07.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(8){background: url(../images/logo08.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(9){background: url(../images/logo06.png) no-repeat 50% 0;background-size: 50%;}
  .content3_wrap>ul.skill>li:nth-of-type(10){background: url(../images/logo08.png) no-repeat 50% 0;background-size: 50%;}
  
  
  .content3_wrap>ul.tool{position: absolute; top: 300px; letter-spacing: -1; opacity: 0;}
  .content3_wrap>ul.tool>li:nth-of-type(1){background: url(../images/logo11.png) no-repeat 50% 0; background-size: 50%;}
  .content3_wrap>ul.tool>li:nth-of-type(2){background: url(../images/logo12.png) no-repeat 50% 5%; background-size: 30%;}
  .content3_wrap>ul.tool>li:nth-of-type(3){background: url(../images/logo13.png) no-repeat 50% 0; background-size: 50%;}
  .content3_wrap>ul.tool>li:nth-of-type(4){background: url(../images/logo14.png) no-repeat 50% 0; background-size: 50%;}
  .content3_wrap>ul.tool>li:nth-of-type(5){background: url(../images/logo16.png) no-repeat 50% 0; background-size: 50%;}


  .content3_wrap>ul>li>dl{text-align:justify; line-height: 2;}
  .content3_wrap>ul>li>dl>dt{text-align: center;font-size: 2.3rem; font-weight: bold;}
  .content3_wrap>ul>li>dl>dd{font-size: 1.6rem}


  /* footer */

  .footer_button{position: relative;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;}
  .footer_button>li{position: relative;}

  .footer_button>li>a{display: block;width: 50px;height: 50px;font-size:1.8rem;background: rgb(37, 33, 28);line-height: 50px;border-radius: 50px;margin-top: 20px;color: #fff;}

  .footer_button>li.leng>a::after{content: "";display: block;position: absolute;z-index: -1;left: 0;top: 0;width:50px;height: 50px;margin-top: 20px;background: rgb(37, 33, 28);border-radius: 50px;transition: all 0.5s ease 0s;}
  .footer_button>li:hover>a::after{width: 150px;transform-origin: right center;}


  .footer_button>li>a i{position: absolute;left: 50%;top: 50%;transform: translate(-50%);}
  .footer_button>li>ul{position: absolute;display: flex;left: 60px;top: 50%;font-size: 1.3rem;}
  .footer_button>li>ul>li{margin-right: 30px;}
  .footer_button>li>ul>li>a{opacity: 0;font-weight: bold;transition: all 0.2s ease 0.2s;color: #fff;}
  .footer_button>li:first-of-type:hover>ul>li>a{opacity: 1;}


  /* content4 */
  .content4_wrap{position: relative;height: 100%;}
  .prev,.next{position: absolute;top: 50%;transform: translateY(-50%);background: none;outline: none;border: none;font-size: 5rem;cursor: pointer;}
  .prev{left: 1.04vw;}
  .next{right: 1.04vw;}

}
 



